<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:rim="http://www.blackberry.com/ns/widgets" id="phonegap-plugin-image-capture" version="1.1.3">
  <name>Image Capture</name>
  <description>PhoneGap Image Capture Plugin</description>
  <license>Apache 2.0</license>
  <keywords>cordova,camera</keywords>
  <repo>https://github.com/phonegap/phonegap-plugin-image-capture.git</repo>
  <issue>https://github.com/phonegap/phonegap-plugin-image-capture/issues</issue>
  <dependency id="phonegap-plugin-media-stream" version="^1.2.0"/>
  <platform name="ios">
    <js-module src="www/ImageCapture.js" name="ImageCapture">
      <clobbers target="ImageCapture"/>
    </js-module>
    <config-file target="config.xml" parent="/*">
      <feature name="ImageCapture">
        <param name="ios-package" value="CDVImageCapture"/>
      </feature>
      <preference name="CameraUsesGeolocation" value="false"/>
    </config-file>
    <config-file target="*-Info.plist" parent="NSCameraUsageDescription">
      <string>$CAMERA_USAGE_DESCRIPTION</string>
    </config-file>
    <config-file target="*-Info.plist" parent="NSPhotoLibraryUsageDescription">
      <string>$PHOTOLIBRARY_USAGE_DESCRIPTION</string>
    </config-file>
    <config-file target="*-Info.plist" parent="NSLocationWhenInUseUsageDescription">
      <string/>
    </config-file>
    <header-file src="src/ios/CDVImageCapture.h"/>
    <source-file src="src/ios/CDVImageCapture.m"/>
    <resource-file src="src/ios/CDVImageCapture.bundle"/>
    <framework src="ImageIO.framework" weak="true"/>
    <framework src="AssetsLibrary.framework"/>
    <framework src="MobileCoreServices.framework"/>
    <framework src="CoreGraphics.framework"/>
    <framework src="AVFoundation.framework"/>
    <preference name="CAMERA_USAGE_DESCRIPTION" default=" "/>
    <preference name="PHOTOLIBRARY_USAGE_DESCRIPTION" default=" "/>
  </platform>
  <platform name="browser">
    <js-module src="src/browser/ImageCapture.js" name="ImageCapture">
      <clobbers target="window.ImageCapture"/>
    </js-module>
  </platform>
</plugin>
